html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
  outline: none; }

html {
  height: 101%; }

/* always display scrollbars */
body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Arial, Tahoma, Verdana, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

input {
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0;
  max-width: 100%; }

a {
  text-decoration: none; }

body {
  background: url("../images/stardust.png"); }

.b-header, .b-content, .b-footer, .header {
  width: 100%;
  clear: both; }

.content, .footer, .header-menu-wrap {
  width: 940px;
  margin: auto;
  clear: both; }

.content {
  padding: 40px 0; }

.b-header {
  background: #fff; }

.logo-wrap {
  padding: 60px 0;
  border-bottom: 1px solid #eaeaea;
  text-align: center; }

.logo {
  font: 30px/30px 'LetterGothicStdRegular';
  color: #4b4b4b; }

.rlogo {
  color: #e33737; }

.header-menu-wrap {
  height: 40px; }

.menu-list {
  position: relative; }

.current-page {
  height: 2px;
  background: #e54545;
  left: 0;
  bottom: 0;
  position: absolute; }

.menu-list li a {
  display: block;
  float: left;
  height: 40px;
  padding: 0 10px;
  color: #747474;
  font-size: 18px;
  font-family: "MicrosoftYiBaitiRegular";
  line-height: 39px;
  border-left: 1px solid #eaeaea;
  box-sizing: border-box; }

.menu-list li:last-child a {
  border-right: 1px solid #eaeaea; }

.current-page-link {
  color: #e54545 !important; }

.menu-social-list {
  overflow: hidden;
  float: right;
  overflow: hidden;
  height: 40px; }

.menu-social-list li {
  display: block;
  float: left;
  position: relative;
  width: 40px;
  height: 40px;
  border-left: 1px solid #eaeaea; }

.menu-social-list li a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font: 12px/40px 'fontello';
  position: absolute; }

.vk, .fb, .tw, .g, .search {
  color: #747474;
  top: 0;
  left: 0; }

.vk-hover, .fb-hover, .tw-hover, .g-hover, .search-hover {
  color: #fff;
  top: 40px;
  left: 0; }

.vk-hover {
  background: #44678d; }

.fb-hover {
  background: #3b5998; }

.tw-hover {
  background: #00aced; }

.g-hover {
  background: #d34829; }

.search-hover {
  background: #000; }

.search-form {
  position: relative;
  float: right;
  display: none; }

.search-field {
  width: 120px;
  height: 20px;
  padding: 10px;
  border: none;
  border-left: 1px solid #eaeaea; }

.search-submit, .search-span-submit {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer; }

.search-submit {
  position: relative;
  z-index: 1; }

.search-span-submit {
  width: 38px;
  position: absolute;
  right: 39px;
  top: 0;
  font: 14px/40px 'fontello';
  text-align: center;
  background: #fff;
  z-index: 0;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea; }

.search-span-submit:after {
  content: '\e80b'; }

.search-form-close {
  display: inline-block;
  cursor: pointer;
  width: 38px;
  font: 14px/40px "VrindaRegular";
  text-align: center;
  background: #fff;
  z-index: 0;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea; }

.article {
  width: 620px;
  float: left;
  margin-right: 20px; }

.article-item {
  display: block;
  position: relative;
  margin-bottom: 40px; }

.article-item-forward {
  background: #fff;
  border: 1px solid #e7e7e7;
  width: 578px;
  padding: 20px;
  padding-bottom: 60px;
  position: relative;
  z-index: 1; }

.article-item-back {
  background: #fff;
  border: 1px solid #e7e7e7;
  width: 578px;
  position: absolute;
  top: -5px;
  left: -5px;
  height: 100%;
  padding: 0 20px;
  z-index: 0; }

.post-type {
  width: 40px;
  height: 40px;
  background: #ff5b5b;
  position: absolute;
  top: 20px;
  left: -40px;
  z-index: 1;
  font: 12px/40px 'fontello';
  text-align: center;
  color: #fff; }

.post-type-bg {
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #e23535;
  border-left: 35px solid transparent;
  border-bottom: 10px solid transparent;
  top: 60px;
  left: -40px;
  position: absolute;
  z-index: 0; }

.article-item-title {
  margin-top: -8px;
  margin-bottom: 10px; }

.article-item-title-link {
  font: 36px/44px "MicrosoftYiBaitiRegular";
  color: #474646; }

.article-item-text {
  font: 16px/24px "VrindaRegular";
  color: #8f8f8f; }

.meta-author-category {
  font: 12px "VrindaRegular";
  color: #767676;
  display: block;
  margin-bottom: 20px; }

.meta-author, .meta-category {
  color: #767676; }

.article-item-meta-wrap {
  display: block;
  clear: both;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px; }

.article-item-meta {
  display: block;
  float: left;
  height: 40px;
  padding: 0 20px;
  border-right: 1px solid #d9d9d9;
  font: 12px/40px 'fontello';
  color: #858585; }

.meta-social-share-list {
  overflow: hidden;
  float: right; }

.meta-social-share-list li {
  display: inline; }

.meta-social-share-list li a {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  border-left: 1px solid #d9d9d9;
  text-align: center;
  font: 12px/40px 'fontello';
  color: #858585;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s; }

.share-vk:hover {
  background: #44678d;
  color: #fff; }

.share-fb:hover {
  background: #3b5998;
  color: #fff; }

.share-tw:hover {
  background: #00aced;
  color: #fff; }

.share-g:hover {
  background: #d34829;
  color: #fff; }

.video-frame {
  width: 560px;
  height: 340px; }

.video-wrap {
  width: 100%;
  text-align: center; }

.sidebar-wrap {
  width: 300px;
  position: relative; }

.sidebar-back {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  width: 298px;
  border: 1px solid #e7e7e7;
  height: 100%;
  z-index: 0; }

.sidebar-forward {
  width: 298px;
  border: 1px solid #e7e7e7;
  background: #fff;
  position: relative;
  z-index: 1; }

.sidebar {
  width: 300px;
  float: left; }

.sidebar-title {
  color: #474646;
  font: 36px/36px "MicrosoftYiBaitiRegular";
  padding: 20px;
  border-bottom: 1px solid #d9d9d9; }

.sidebar-menu-list li a {
  display: block;
  color: #747474;
  font-size: 18px;
  font-family: "MicrosoftYiBaitiRegular";
  padding: 12px 20px;
  border-bottom: 1px solid #d9d9d9;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s; }

.sidebar-menu-list li:last-child a {
  border-bottom: none; }

.sidebar-menu-list li a:hover {
  background: #e54545;
  color: #fff; }

.vk:after {
  content: '\e80e'; }

.fb:after {
  content: '\e811'; }

.tw:after {
  content: '\e80f'; }

.g:after {
  content: '\e810'; }

.share-vk:after {
  content: '\e80e'; }

.share-fb:after {
  content: '\e811'; }

.share-tw:after {
  content: '\e80f'; }

.share-g:after {
  content: '\e810'; }

.search:after {
  content: '\e80b'; }

.meta-date:after {
  content: '\e80a';
  margin-left: 10px; }

.meta-comments:after {
  content: '\e805';
  margin-left: 10px; }

.meta-views:after {
  content: '\e803';
  margin-left: 10px; }

.meta-likes:after {
  content: '\e800';
  margin-left: 10px; }

.post-type-post:after {
  content: '\e808'; }

.post-type-video:after {
  content: '\e806'; }

.post-type-music:after {
  content: '\e80c'; }

.post-type-photo:after {
  content: '\e807'; }

.post-type-quote:after {
  content: '\e812'; }

/*
fonts 
*/
@font-face {
  font-family: 'LetterGothicStdRegular';
  src: url("../fonts/lettergothicstd.eot");
  src: url("../fonts/lettergothicstd.eot") format("embedded-opentype"), url("../fonts/lettergothicstd.woff") format("woff"), url("../fonts/lettergothicstd.ttf") format("truetype"), url("../fonts/lettergothicstd.svg#LetterGothicStdRegular") format("svg"); }
@font-face {
  font-family: 'MicrosoftYiBaitiRegular';
  src: url("../fonts/msyi.eot");
  src: url("../fonts/msyi.eot") format("embedded-opentype"), url("../fonts/msyi.woff") format("woff"), url("../fonts/msyi.ttf") format("truetype"), url("../fonts/msyi.svg#MicrosoftYiBaitiRegular") format("svg"); }
@font-face {
  font-family: 'VrindaRegular';
  src: url("../fonts/vrinda.eot");
  src: url("../fonts/vrinda.eot") format("embedded-opentype"), url("../fonts/vrinda.woff") format("woff"), url("../fonts/vrinda.ttf") format("truetype"), url("../fonts/vrinda.svg#VrindaRegular") format("svg"); }
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?48529301");
  src: url("../fonts/fontello.eot?48529301#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?48529301") format("woff"), url("../fonts/fontello.ttf?48529301") format("truetype"), url("../fonts/fontello.svg?48529301#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fontello';
  src: url("../fonts/lettergothicstd.eot");
  src: url("../fonts/lettergothicstd.eot") format("embedded-opentype"), url("../fonts/lettergothicstd.woff") format("woff"), url("../fonts/lettergothicstd.ttf") format("truetype"), url("../fonts/lettergothicstd.svg#LetterGothicStdRegular") format("svg"); }
